


.profile-pic-container {
  cursor: pointer;
  z-index: 1;
}

.popup-container {
  
  position: absolute;
  display: flex;
  flex-direction: column;
  transform: translate(10%, 10%);
  justify-content: center;
  align-items: center;
  background-color: #fff;
  // background-color: red;
  width: 200px;
  height: auto;
  padding: 20px;
  border: 1px solid #ccc;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.2);
  z-index: 2;
  pointer-events: auto; /* Apply pointer-events directly to .popup-container */
  cursor: pointer; /* Apply cursor directly to .popup-container */
  .btn{
    z-index: 99;
  }
  .check{
    text-align: center;
  }
}
