@import url(https://fonts.googleapis.com/css?family=Roboto:500);

$white: #fff;
$google-blue: #4285f4;
$button-active-blue: #1669F2;

.login-btn {
    width: 350px;
    height: 40px;
    color: white;
    background-color: rgb(11, 94, 211);
    cursor: pointer;
    border-radius: 30px;

    &:hover {
        box-shadow: 0 0 6px $google-blue;
    }

    &:active {
        background: $button-active-blue;
    }
}

.login-wrapper {
    border: solid 2px red($color: #000000);
}

.login-inner-wrapper {
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.15);
    position: absolute;
    top: 80px;
    left: 35vw;
    // display: flex;
    width: 25vw;
    height: 70vh;
    flex-direction: column;
    // justify-content: center;
    align-items: center;


}

.auth-common-inputs {
    margin: 4px 0;
    display: flex;
    text-align: center;
    color: black;
    background-color: white;
    height: 40px;
    width: 350px;
    border-radius: 5px;
}

.auth-inputs {

    display: flex;
    align-items: center;
    flex-direction: column;
    // background-color: black;
    // color: white;

}


.linkedin-logo {
    width: 80px;
    position: absolute;
    top: 20px;
    left: 30px
}

.heading {
    position: relative;
    left: 50px;

}

.sub-heading {
    margin-top: -10px;
    position: relative;
    left: 50px;
}

.forgot_password {
    position: relative;
    left: -100px;
    margin-top: 8px;
    background-color: rgba(0, 0, 0, 0);
    border: 0;
    border-radius: 2px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    color: #0073b1;
    cursor: pointer;
    display: inline-block;
    font-size: 1 rem;
    font-weight: 600;
    font-family: inherit;
    height: 32px;
    line-height: 32px;
    overflow: hidden;
    outline-width: 2px;
    padding: 0 8px;
    text-align: center;
    text-decoration: none;
}





.google-btn {
    width: 350px;
    height: 40px;
      cursor: pointer;
      border-radius: 30px;
    background-color: $google-blue;
    border-radius: 30px;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, .25);
  
    .google-icon-wrapper {
        position: absolute;
        margin-top: 2px;
        margin-left: 5px;
        width: 40px;
        height: 35px;
        border-radius: 10px;
        background-color: $white;
    }

    .google-icon {
        position: absolute;
        margin-top: 11px;
        margin-left: 11px;
        width: 18px;
        height: 18px;
    }

    .btn-text {
        position: relative;
        // width: 250px;
        left: 100px;
        top:7px;
        // float: right ;
        margin: 11px 11px 0 0;
        color: $white;
        font-size: 14px;
        letter-spacing: 0.2px;
        font-family: "Roboto";
        
        // border: 2px solid red;
    }

    &:hover {
        box-shadow: 0 0 6px $google-blue;
    }

    &:active {
        background: $button-active-blue;
    }
}

.join-now {
    text-align: center;
    margin: 32px 0 0;

  
        padding: 0;
        border: 0;
        font-size: 100%;
        vertical-align: baseline;
        background: transparent;
        
    
}
.join-now-inside{
    cursor: pointer;
    &:hover {
        text-decoration: underline;
    }

}
.agree{
    display: flex;
    width: 100%;

    font-size: small;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    justify-content: center;
    align-items: center;
    text-align: center;
}