.modal-input{
    width: 100%;
    height: 50px;
    border: none;
    outline: none;
    color: black;
    background-color: white;
    font-size: 14px;
    font-family: system-ui, sans-serif;
    white-space: normal;
  


}