.post-card{
    //z-index: -1;;
    margin-top: 20px;
    width: 550px;
        height: 2000px;
        // background-color: white;
        position: relative;
        // right: 3vw;
        border-radius: 5px;
        display: flex;
        // justify-content: center;
        flex-direction: column;
        // align-items: center;
        background-color: red;
        padding: 10px;
        .post{
            text-align: left;
            font-family: system-ui, sans-serif;
            font-weight: 400;
            font-size: 14px;
            display: flex;
            
        }
        .name{
            text-decoration: underline;
            cursor: pointer;
        }
}